[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
xlwings = "*"
pywin32 = "*"
pyside6 = "*"
pyinstaller = "*"
pyquery = "*"

[dev-packages]

[requires]
python_version = "3.10"
